/*
======================
	font styles
======================
*/
html, body {
	font-family: "Open Sans", sans-serif;
}
.tab-font {
	font-family: 'Raleway', sans-serif;
}
.mdl-typography--subhead, .subhead {
	font-family: "Open Sans", sans-serif;
}
.mdl-card__title-text, .head {
	font-family: 'Raleway', sans-serif;
}
.mdl-typography--headline > .material-icons {
	vertical-align: middle;
	font-size: 32px;
}
.head {
	font-size: 24px;
}
.subhead {
	font-size: 18px;
}
/*
=====================
	navigation 
=====================
*/
.mdl-layout__tab-bar-container{
	height: 60px;
}
.logo-image {
	height: 100%;
}
.mdl-layout__tab{
	height: 60px;
	line-height: 60px;
}
/*
======================
	landing
======================
*/
.no-space {
	padding: 0px;
}
.background-left {
	background: url("../img/background-left.jpg");
}
.background-right {
	background: url("../img/background-right.jpg");
}
.background-left, 
.background-right{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 742px;
	width: 50%;
	margin: 0px;
} 
p.head,
p.subhead {
	position: absolute;
	color: rgba(255,255,255,1);
	background-color: #184274;
	padding: 10px;
}
p.head {
	bottom: 30%;
	width: 20%;
}
p.subhead {
	bottom: 24%;
	width: 25%;
}

p.subhead-left,
p.head-left {
	left: 100px;
}
p.subhead-right,
p.head-right {
	right: 100px;
}

.landing-text-container {
	margin-top: 150px;
	margin-left: 100px;
	padding: 20px;
	font-family: "Raleway", sans-serif;
	color: rgba(255,255,255,1);
	background-color: #184274;
}
.landing-text {
	color: rgba(255,255,255,1);
	background-color: #184274;
}
body{
  position: relative;
}
.countdown-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -200px;
  margin-left: -150px;
  z-index: 10;
  background-color: rgba(0,59,112,0.9); /*dim the background*/
}
.countdown-box p{
	text-align: center;
}
#countdown {
	
	vertical-align: center;
}
/*
======================
	card style
======================
*/
.custom-headline {
	color: black;
	font-size: 18px;
}
.custom-subhead {
	font-size: 14px;
}
.custom-subhead,
.custom-headline {
	font-family: "Open Sans", sans-serif;
}
.detail-card-container .mdl-typography--font-light{
	color: black;
}

/*
======================
	section style
======================
*/
.content-max-width {
	max-width: 900px;
}
.section-display {
	text-align: center;
	margin-bottom: 48px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #184274;
}
.travel-container {
	background-color: #fcf6e6;
	padding-top: 48px;
	padding-bottom: 48px;
}
.event-container {
	margin-top: 48px;
}
.event-image {
	width: 100%;
}
.event-title {
	padding-left: 20px;
}
.activities-section,
.food-section {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 40px;
	margin-top: 40px;
}
.swag-section {
	margin-top: 40px;
	max-height: 218px;
}

/*
======================
	mobile style
======================
*/
.show-mobile {
	display: none;
}


@media (max-width:1023px){
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: block;
	}
}
@media (max-width:425px){
	.landing-text-container{
		margin-left: 10px;
	}
}