/*
======================
	font styles
======================
*/
html, body {
	font-family: "Open Sans", sans-serif;
}
.tab-font >a {
	font-family: 'Raleway', sans-serif;
	font-weight: 600 !important;
}
.mdl-typography--subhead, .subhead {
	font-family: "Open Sans", sans-serif;
}
.mdl-card__title-text, .head {
	font-family: 'Raleway', sans-serif;
}
.mdl-typography--headline > .material-icons {
	vertical-align: middle;
	font-size: 32px;
}
.head {
	font-size: 24px;
	/* font-weight: 600; */
}
h4.head {
	font-size: 24px;
}
.subhead,
.subhead p {
	font-size: 18px;
}
.body-text {
	line-height: 1.5em;
	max-width: 800px;
	font-size: 16px;
}
a {
	color: blue;
	text-decoration: none !important;
}
.black {
	color: black;
	font-weight: 600;
}
p.important-text{
	font-size: 20px;
}
span.red-bold-text{
	color: red;
	font-weight: bold;
}
/*
=====================
	navigation 
=====================
*/
.mdl-layout__tab-bar-container{
	height: 64px;
}
.mdl-layout__tab-bar,
.mdl-layout__tab-bar-button {
	height: 64px;
}
.logo-image {
	height: 100%;
}
.mdl-layout__tab{
	height: 64px;
	line-height: 64px;
}
.subtab.mdl-tabs__tab-bar{
	border-bottom: none;
}

/*
======================
	landing
======================
*/
.landing {
	height: 742px;
}
.no-space {
	padding: 0px;
}
.background-left {
	background: 	
    url("../img/background-left.jpg");
    margin: 0px;
}
/*
rgba(255, 198, 39, .3), 
rgba(255, 198, 39, .3)
*/
.background-right {
	background: 
    url("../img/background-right.jpg");
	left: 50%;
	margin: 0px;
}
.background-left, 
.background-right{
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 742px;
	width: 50%;
	
} 
/*
.background-left:hover {
	background: 
	linear-gradient(
     rgba(255, 198, 39, .2), 
	rgba(255, 198, 39, .2)
    ),
    url("../img/background-left.jpg");

} 
.background-right:hover {
	background: 
	linear-gradient(
    rgba(255, 198, 39, .2), 
	rgba(255, 198, 39, .2)
    ),
    url("../img/background-right.jpg");
}
*/
p.landing-head,
p.landing-subhead {
	position: absolute;
	/* color: rgb(255, 198, 39); */
	color: white;
	background-color: rgba(0,59,112,0.9);
	padding: 10px;
}
p.landing-head {
	/* bottom: 15%;*/
	/* width: 20%; */
	font-weight: 600;
	margin-bottom: 20px;
}

p.landing-subhead {
	/* bottom: 2%; */
	/* width: 25%; */
	top: 80%;
}

p.subhead-left,
p.head-left {
	left: 50px;
}
p.subhead-right,
p.head-right {
	right: 50px;
	text-align: right;
}
p.subhead-left, p.subhead-right {
	width: 500px; 
	max-width: 40% 
}
#mobile-landing-text{
	display: none;
}




body{
  position: relative;
  color: #333;
}
.countdown-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -200px;
  margin-left: -150px;
  z-index: 10;
  background-color: rgba(0,59,112,0.9); /*dim the background*/
}
.countdown-box p{
	text-align: center;
	padding: 20px;
}
#countdown {
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 1.3em;
	color: rgb(255, 198, 39);
}
p#days {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: rgb(255, 198, 39);
}
.landing-text.head {
	font-size: 32px;
	line-height: 32px;
	padding-bottom: 20px;
}
/*
======================
	container/heading styles
======================
*/
.information-container__body,
.timeline-container__body
{
	margin-top: 18px;
}
.information-container__head,
.timeline-container__head
{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.information-head__text,
.timeline-head__text {
	font-size: 30px;
	color: rgb(0,59,112);
	padding: 0 10px;
	background-color: #ffffff;
	text-align: center;
	font-weight: 600;
}
.lines{
	width:100%; 
	text-align:center; 
	border-bottom: 2px solid #ffc627; 
	line-height: .1em; 
	margin:10px 0 20px;
}

.information-mobile,
.timeline-mobile {
	margin-top: 100px;
	line-height: 30px;
	display: none;
}
hr {
	width: 50%;
	text-align: center;
	border-top: 2px solid #ffc627; 
	margin: 5px auto;
}

/* information style */

.hotel-img {
	max-width: 360px;
	border: 7px solid rgb(0,59,112);
	margin: auto;
}
.description {

}

.card-image.mdl-card {
  width: 360px;
  height: 360px;
  background: url('../img/hotel.jpg') center / cover;
}
.card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0,59,112,0.8);

  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-image > .mdl-card__actions:hover {
    background-color: rgba(0,59,112,0.4);
}

.mdl-card__actions > a {
	color: #F8F8FF;
	text-decoration: none;
}
.card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
/*
======================
	timeline style
======================
*/
.timeline-step {
    margin: 0 50px;
    
    overflow: hidden;
    padding: 30px 0 30px 30px;
    position: relative;
    text-align: left;
}
.timeline-step:before {
    content: " ";
    display: block;
    height: 100%;
    left: 45px;
    position: absolute;
    top: 0;
    width: 4px;
}
.timeline-step:before                { background: #61b3e4; }  /* IE9 fallback */
/*
.timeline-step[data-step="1"]:before {background: linear-gradient(-180deg, #FFCA28 0%, #FEBA26 100%);top: 60px;}
.timeline-step[data-step="2"]:before { background: linear-gradient(-180deg, #FEBA26 0%, #FCA523 100%); }
.timeline-step[data-step="3"]:before { background: linear-gradient(-180deg, #FCA523 0%, #FB9722 100%); }
.timeline-step[data-step="4"]:before { background: linear-gradient(-180deg, #FB9722 0%, #FA8920 100%); }
.timeline-step[data-step="5"]:before { background: linear-gradient(-180deg, #FA8920 0%, #F8791E 100%); }
.timeline-step[data-step="6"]:before { background: linear-gradient(-180deg, #F8791E 0%, #E65100 100%); }
.timeline-step[data-step="7"]:before { background: linear-gradient(-180deg, #F8791E 0%, #E65100 100%); }
.timeline-step[data-step="8"]:before { background: linear-gradient(-180deg, #F8791E 0%, #E65100 100%); }
*/
.timeline-step[data-step="1"]:before {background: linear-gradient(-180deg, #61b3e4 0%, #589fcc 100%);top: 60px;}
.timeline-step[data-step="2"]:before { background: linear-gradient(-180deg, #589fcc 0%, #4e8eba 100%); }
.timeline-step[data-step="3"]:before { background: linear-gradient(-180deg, #4e8eba 0%, #447fa9 100%); }
.timeline-step[data-step="4"]:before { background: linear-gradient(-180deg, #447fa9 0%, #3a709a 100%); }
.timeline-step[data-step="5"]:before { background: linear-gradient(-180deg, #3a709a 0%, #30638d 100%); }
.timeline-step[data-step="6"]:before { background: linear-gradient(-180deg, #30638d 0%, #255780 100%); }
.timeline-step[data-step="7"]:before { background: linear-gradient(-180deg, #255780 0%, #194b75 100%); }
.timeline-step[data-step="8"]:before { background: linear-gradient(-180deg, #194b75 0%, #003b70 100%); }

.timeline-step[data-step="9"]:before { background: linear-gradient(-180deg, #ffffff 50%, #fff4dc 100%); }
.timeline-step[data-step="10"]:before { background: linear-gradient(-180deg, #fff4dc 0%, #ffebbc 100%); }
.timeline-step[data-step="11"]:before { background: linear-gradient(-180deg, #ffebbc 0%, #ffe19a 100%); }
.timeline-step[data-step="12"]:before { background: linear-gradient(-180deg, #ffe19a 0%, #ffd879 100%); }
.timeline-step[data-step="13"]:before { background: linear-gradient(-180deg, #ffd879 0%, #ffcf56 100%); }
.timeline-step[data-step="14"]:before { background: linear-gradient(-180deg, #ffcf56 0%, #ffc627 100%); }

.timeline-step[data-step="15"]:before { background: #ffc627; height: 55px; }
/*
.timeline-step[data-step="1"] .timeline-step-number { background: #FFCA28; }
.timeline-step[data-step="2"] .timeline-step-number { background: #FEBA26; }
.timeline-step[data-step="3"] .timeline-step-number { background: #FCA523; }
.timeline-step[data-step="4"] .timeline-step-number { background: #FB9722; }
.timeline-step[data-step="5"] .timeline-step-number { background: #FA8920; }
.timeline-step[data-step="6"] .timeline-step-number { background: #F8791E; }
.timeline-step[data-step="7"] .timeline-step-number { background: #E65100; }
.timeline-step[data-step="8"] .timeline-step-number { background: #E65100; }
*/
.timeline-step[data-step="1"] .timeline-step-number { background: #61b3e4; }
.timeline-step[data-step="2"] .timeline-step-number { background: #589fcc; }
.timeline-step[data-step="3"] .timeline-step-number { background: #4e8eba; }
.timeline-step[data-step="4"] .timeline-step-number { background: #447fa9; }
.timeline-step[data-step="5"] .timeline-step-number { background: #3a709a; }
.timeline-step[data-step="6"] .timeline-step-number { background: #30638d; }
.timeline-step[data-step="7"] .timeline-step-number { background: #255780; }
.timeline-step[data-step="8"] .timeline-step-number { background: #194b75; }

.timeline-step[data-step="9"] .timeline-step-number { background: #FFF; color: #003b70; }
.timeline-step[data-step="10"] .timeline-step-number { background: #fff4dc; color: #003b70; }
.timeline-step[data-step="11"] .timeline-step-number { background: #ffebbc; color: #003b70; }
.timeline-step[data-step="12"] .timeline-step-number { background: #ffe19a; color: #003b70; }
.timeline-step[data-step="13"] .timeline-step-number { background: #ffd879; color: #003b70; }
.timeline-step[data-step="14"] .timeline-step-number { background: #ffcf56; color: #003b70; }
.timeline-step[data-step="15"] .timeline-step-number { background: #ffc627; color: #003b70; }


.timeline-step-number {
    border-radius: 50px;
    color: #FFF;
    font-size: 18px;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100px;
    margin-top: 1.33em;
}
.timeline-step :last-child {
    margin-bottom: 0;
}
.timeline-head,
.timeline-subhead{
	margin-left: 100px;
}
.timeline-subhead{
	list-style: none;
}
.timeline-container-last {
	background-color: #003B70;
	max-width: auto;
}
.timeline-last div,
.timeline-last h4 {
	color: #F8F8FF;
}

.footer {
	background-color: #F8F8FF;
}
/* footer */
footer .logos img{
	height: 64px;
	margin-top: 5px;
	margin-bottom: 10px;
}
footer .icons img{
	
	height: 32px;
	margin: 20px 10px;
}
.footer-max-width {
	height: 84px;
	max-width: 1240px;
}
/*
======================
	section style
======================
*/
.content-max-width {
	max-width: 950px;
}
/*.fade-in
{
    opacity:0;
}*/


/* forms */
#food-header > .button-minus {
	display: none;
}
#food-form{
	display: none;
	margin-top: 20px;
}
#music-form{
	display: none;
	margin-top: 20px;
}
#music-header > .button-minus {
	display: none;
}
#ar-header > .button-minus {
	display: none;
}
#ar-form{
	display: none;
	margin-top: 20px;
}
.list-cursor {
	cursor: pointer;
}


/*FAQ*/
.subtab>a{
	font-size: 24px;
}
ul{
	padding-left: 20px;
}
ul>li.q{
	cursor: pointer;
	font-size: 18px;
	list-style: none;
	border-top: 1px solid #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
}
ul>li.last-q{
	
	border-top: 1px solid #ddd;
	list-style: none;	
}
ul>li.q > .icon{
	 font-size: 38px;
	 padding-left: 16px;
	 padding-right: 16px;
	 /* background-color: #ddd; */
	 color: #003b70;
	 border-radius: 51%;
	 
	 line-height: 38px;
	 vertical-align:middle;
}
ul>li.answer{
	list-style: none;
}
ul>li.answer>p{
	font-size: 16px;
}

p.faq-heading,
p.map-heading,
p.food-heading,
p.attire-heading {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Raleway", sans-serif;
	margin-top: 100px;
}
p.map-subhead,
p.food-subhead,
p.attire-subhead{
	text-align: center;
	font-size: 24px;
}
span.icon {
	display: inline-block;
}

.rotated{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */

  -webkit-transition: -webkit-transform 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.rotated-undo {
	transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -moz-transform: rotate(0deg); /* Firefox */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -o-transform: rotate(0deg); /* Opera */

  -webkit-transition: -webkit-transform 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.map-image {
	max-width: 100%;
	text-align: center;
	display: block;
}
p.map-button{
	text-align: center;
	margin: 48px 0px;
}


/* food section */
.food-grid > .mdl-cell{
	height: 250px;
	overflow:hidden;
	margin-top: 20px;

}
.food-button{
	display: none;
	margin: 0 auto;
	border: 1px solid #003b70;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
}
.food-button > a {
	color: #003B70 !important;
}
.food-dinics {
	background: url('../img/dinics.jpg'); 
}
.food-meltkraft{
	background: url('../img/meltkraft.jpg'); 
}
.food-hershels{
	background: url('../img/hershels.jpg'); 
}
.food-becks{
	background: url('../img/becks.jpg'); 
}
.food-dienners{
	background: url('../img/dienners.jpg'); 
}
.food-molly{
	background: url('../img/molly.jpg'); 
}
.food-beilers{
	background: url('../img/beilers.jpg'); 
}
.food-coffee{
	background: url('../img/coffee.jpg'); 
}
.food-bassetts{
	background: url('../img/bassetts.jpg'); 
}
.food-cell{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.overlay {  
	background:rgba(255,255,255,.75);
    text-align:center;
 	opacity:0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
}

.food-cell:hover .food-button{
	display: block;
}
.food-cell:hover {
	transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25); /* IE 9 */
}
.food-cell:hover .overlay {
    opacity:1;
}


/* attire tab */
.mobile-attire-grid{
	display: none;
}
.attire-img-cell>img{
	width: 100%;
	height: 200px;
}
.attire-grid .attire-img-cell{
	opacity: .5;
}
/*
.attire-img-cell>img:hover,
.attire-img-cell>img:active{
	opacity: 1;
}*/
.attire-info-grid {
	background-color: #003b70;
	display: none;
}
.tabcontent {
    display: none;  
    width: 100%;
    color: #fff;
    background-color: #003b70;
}
.tabcontent>p {
	padding: 10px;
}
p.attire-detail-heading{
	font-size: 24px;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
p.attire-detail-heading-m {
	font-size: 24px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}
.tabcontent .subhead {
	margin-left: 20px;
	margin-right: 20px;
}
img.attire-img{
	width: 300px;
	height: auto;
	border-radius: 25px;
	margin: 30px;
}
.img-container>img{
	width: 250px;
	overflow: hidden;
	border-radius: 25px;
	margin: 30px;
	image-orientation: from-image;
}
/*
======================
	mobile style
======================
*/
.show-mobile {
	display: none;
}


@media (max-width:1023px){
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: block;
	}
	.background-left, 
	.background-right{
	 width: 50%;
	 margin: 0;
	}
@media (max-width:425px){
	.landing-text-container{
		margin-left: 10px;
	}
	.timeline-step {
    margin: 0 12px;
	}	
	.timeline-step-number {
    font-size: 16px;
    width: 80px;
	}
	.timeline-head,
	.timeline-subhead{
		margin-left: 60px;
	}
	h4.head {
		font-size: 20px;
		/* font-weight: 600; */
	}
	.subhead,
	.subhead p {
		font-size: 16px;
	}
	.timeline-step:before {
	    left: 40px;
	}

	.subtab>a {
		font-size: 16px;
	}
	img.attire-img,
	.img-container>img{
		width: 80%;
}
@media (max-width:769px){
	.countdown-box {
		top: 220px;
	}
	
	

	#mobile-landing-text{
		display: block;
		z-index: 3;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		color: white;
		background-color: rgba(0,59,112,0.9);
		padding: 10px;
		margin-top: 320px;
	}
	
	p.landing-head,
	p.landing-subhead,
	.background-left,
	.background-right {
		display: none !important;
	}
	.landing {
		background: 
    		url("../img/mobile-background-mini.png");
	}
}

@media (max-width: 836px)
{
	.mobile-attire-grid{
		display: block !important}
	.attire-grid, .attire-info-grid {
		display: none !important;
	}
	#arrival-f {
		display: none;
	}
	img.attire-img{
		margin: 10px;
	}
}
